<div class="app-footer">
	<ul>
		<li class="item-1"><a href="javascript:void(0)">工具</a></li>
		<li class="item-3"><a href="">会员中心</a></li>
		<li class="item-2"><a href="">登录</a></li>
	</ul>
</div>

<script src="http://app.jx3pve.com/js/app/servers_m.js"></script>
<div style="display:none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000192850'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000192850' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>