<!--{template common/header}-->
<link rel="stylesheet" href="http://app.jx3pve.com/css/servers_pc.css" type="text/css" />
<script id="template_server_items" type="text/html">
  <li class="app-servers-list-item app-servers-list-header">
      <span class="daqu">大区</span>
      <span class="fwq">服务器</span>
      <span class="status">状态</span>
      <span class="recent">最近开服记录</span>
      <span class="history">上一次记录</span>
      <span class="top">置顶</span>
      <span class="fav">收藏</span>
      <span class="feed">订阅</span>
  </li>
  <!--第一条被置顶的条目添加.app-servers-list-item-top-->
  <!--被收藏的条目添加.app-servers-list-item-fav，并且行内输出自定义的背景色-->
  <!--没有被收藏和置顶的才添加app-servers-list-item-normal，一旦添加了则移除这个类名-->
  <!--畅通状态1添加status-1-->
  <!--爆满状态2添加status-2-->
  <!--维护状态3添加status-3-->
  
  {{each serverList as server index}} 
    <li class="app-servers-list-item
        {{if server.isTop}}app-servers-list-item-top{{/if}}
        {{if server.isSubscribe}}app-servers-list-item-fav{{/if}}
        {{server | getNormalClass}}
        ">
        <span class="daqu">{{server.area}}</span>
        <span class="fwq">{{server.name}}</span>
        <span class="status status-{{server.status}}">{{server.status | getStatusText}}</span>
        <span class="recent">{{server.latest}}<em>({{server.latest | getXQDay}})</em></span>
        <span class="history">{{server.history}}<em>（{{server.latest | getXQDay}}）</em></span>
        <!--当点击置顶后，给i添加.istop，并将title修改为"取消置顶"-->
        <span class="top" data-id="{{server.ip}}" data-top="{{server.isTop}}"><i class="u-icon-top istop" title="{{server.isTop | getTopText}}">置顶</i></span>
        <span class="fav" data-id="{{server.ip}}" data-collect="{{server.isCollect}}"><i class="u-icon-fav"  title="{{server.isCollect | getCollectText}}">收藏</i></span>
        <span class="feed" data-id="{{server.ip}}" data-feed="{{server.isFeed}}"><i class="u-icon-feed" title="暂未开放">订阅</i></span>
    </li>
  {{/each}}
</script>

<div class="app-container">

    <div class="wp">
    
        <div class="app-header">
            <div class="m-title">
                <h1 class="til">开服监控与记录</h1>
                <p class="ac"><!--{block/1774}--></p>
            </div>
            <div class="m-banner"></div>
            <div class="m-extend">
                <a class="m-help" href="./misc.php?mod=faq&action=faq&id=54&messageid=133" target="_blank"><i></i>使用帮助</a>
                <a class="m-error" href="./feedback" target="_blank"><i></i>数据异常</a>
                <div class="m-share">
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </div>
                <div class="m-search">
                    <!--js:当获取焦点时给.search添加.focus-->
                    <form class="search" onsubmit="return false">
                        <input type="text" placeholder="输入服务器名称快速查找" id="search_txt">
                        <button id="search_btn">搜索</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="app-main">

            <div class="app-sidebar">
                <!--{subtemplate app/sidebar_pc}-->
            </div>
            <script>
                <!--{if $_G['uid'] == 0}-->
                    onclick="showWindow('login', this.href)"
                    /*如果用户未登录，执行收藏和置顶时，也可以直接使用弹出dz的登录对话框*/
                <!--{else}-->
                    /*已登录再判断权限*/
                <!--{/if}-->
            </script>

            <div class="app-content">
                <ul class="app-servers-list" id="app-servers-list">
                   
                </ul>
            </div>

        </div>

        <div class="app-footer">
            <div class="m-banner"><!--<!--{subtemplate jx3pve/b_banner_a}-->--></div>
            <div class="m-author"><!--{block/1776}--></div>
        </div>

        <div class="app-dialog" style="display:none;">
            <div class="m-title">
                <span class="til">提示</span>
                <span class="close">关闭</span>
            </div> 
            <div class="m-content">
                <!--未登录用户尝试进行置顶和收藏时-->
                <div class="app-dialog-control-failtips app-dialog-tips" style="display:none;">
                    游客，进行此操作请先登录。
                    <a class="u-btn-go" href="./member.php?mod=logging&action=login" target="_blank">登录</a>
                </div>
                <!--普通用户只能设置1个置顶-->
                <div class="app-dialog-top-failtips app-dialog-tips" style="display:none;">
                    您所在的用户组只能设置1个置顶项，点击<a href="./vip" target="_blank">开通VIP会员</a>即可享受无限制特权，更有全站资源免费下载，免回复看贴等多项特权。
                    <a class="u-btn-go" href="./vip" target="_blank">开通VIP会员</a>
                </div>
                <!--普通用户无法使用收藏功能-->
                <div class="app-dialog-fav-failtips app-dialog-tips" style="display:none;">
                    您所在的用户组无法使用收藏功能，点击<a href="./vip" target="_blank">开通VIP会员</a>即可享受全部特权，更有全站资源免费下载，免回复看贴等多项特权。
                    <a class="u-btn-go" href="./vip" target="_blank">开通VIP会员</a>
                </div>
                <!--VIP用户使用收藏功能的操作界面-->
                <div class="app-dialog-fav-ui app-dialog-tips" style="display:none;">
                    收藏功能并不会直接置顶，您可以为它设置一个背景色，并可以在手机版中“我的”中快速查看这个条目。
                    <form action="">
                        <label for="">设置背景色（可选）：</label>
                        <input type="text" value="#0084ff">
                        <span class="colorpicker"></span>
                    </form>
                    <a class="u-btn-go" href="javascript:void(0)">收藏</a>
                </div>
            </div>
            <div class="m-extend">
                
            </div>
        </div>

    </div>

</div>
<script src="http://app.jx3pve.com/js/app/servers_pc.js"></script>
<!--{template common/footer}-->